form {
	width: 80%;
	margin: auto;
	min-width: 360px;
	margin-top: 10px;
}
input {
	width: 23.5%;
	border: none;
	text-align: center;
	margin-right: 0.5%;
	color: white;
	background: #0007;
}
input:last-child {
	width: 4%;
	margin-right: 0%;
}
@media screen and (max-width: 360px) {
	form {
		width: 100%;
		min-width: 0px;
		display: flex;
		flex-direction: column;
	}
	input {
		width: 100%;
		margin-right: 0%;
		margin-top: 2px;
	}
	input:last-child {
		width: 100%;
	}
}