input {
	border: 1px white solid;
	text-align: center;
	background: inherit;
	color: white;
	width: 100%;
}
input:focus {
	background: white;
	color: black;
}
.action {
	display: flex;
}
.action button {
	flex: 1;
	background: inherit;
	color: white;
}
#addScore {
	display: flex;
	width: 80%;
	margin: auto;
	min-width: 360px;
	color: white;
}
#addScore input {
	background: #0007;
	flex: 3;
}
#addScore input:focus {
	color: white;
}
#addScore input:last-child {
	flex: 1;
}
#addScore select {
	border: none;
	background: #0007;
	color: white;
	flex: 3;
}
#addScore option {
	color: white;
	background: #0007;
}
#returnError {
	width: 80%;
	min-width: 360px;
	margin: auto;
	margin-top: 10px;
	text-shadow: 1px 1px 0px white, -1px 1px 0px white, 1px -1px 0px white, -1px -1px 0px white;
}
@media screen and (max-width: 360px) {
	input {
		font-size: 3.5vw;
	}
	#returnError {
		width: 100%;
		min-width: 0px;
	}
}